.upPoints-main {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;

  .title-content {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;

    >h1 {
      width: 30%;
      font-family: 'Georama', sans-serif;
      font-weight: bold;
    }

  }

  .form-content {
    flex: 6;

    > form {
      width: 80%;
      display: flex;
      flex-direction: column;

      > label {
        padding-top: 10px;
        font-family: 'Geo', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px
      }

      > input+textarea {
        margin: 20px 0;
      }

      > select {
        border: none;
        padding: 5px;
        min-height: 20px;
        background: var(--gray);
        font-family: 'Geo', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px
      }

      > textarea {
        font-family: 'Geo', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        padding: 5px;
        border: none;
        min-height: 130px;
        background: var(--gray);
        resize: none;
      }

      button {
        margin: 20px 70% 20px 0;
      }

    }

    > a {
      font-size: 20px;
      line-height: 22px;
      font-family: 'Geo', sans-serif;
      list-style: none;
      text-decoration: none;
      text-align: center;
      color: var(--blue);
    }

  }

}

@media screen and (max-width: 1200px) {
  .upPoints-main {
    .form-content {
      >form {
        button {
          margin: 20px 60% 20px 0;
        }
      }
    }
  }

}

@media screen and (max-width: 992px) {
  .upPoints-main {
    .form-content {
      >form {
        button {
          margin: 20px 40% 20px 0;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .upPoints-main .form-content {

    >form {
      width: 90%;

      button {
        margin: 20px 40% 20px 0;
      }

    }
  }
}

@media screen and (max-width: 600px) {
  .upPoints-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;

    .title-content {
      margin-top: 20px;

      > h1 {
        width: 70%;
        text-align: center;
      }
    }

    .form-content {

      >form {
        width: auto;
  
        button {
          margin: 20px 10%;
        }
  
      }
      > a {
        display: block;
        width: 70%;
        text-align: center;
        margin: 10px auto 20px auto;
      }
    }

  }
}

@media screen and (max-width: 414px) {
  .upPoints-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;

    .title-content {
      margin-top: 40px;

      > h1 {
        width: 100%;
      }
    }

    .form-content {
      margin-top: 10px;

      > form {
        width: auto;

        button {
          margin: 20px 20%;
        }

      }

      > a {
        display: block;
        width: 70%;
        text-align: center;
        margin: 10px auto 20px auto;
      }
    }
  }

}