.request-card {
  margin: 20px 0;
  padding: 20px;

  display: flex;
  flex-direction: row;

  align-items: center;

  font-family: 'Georama', sans-serif;
  font-weight: medium;

  .member-name {
    flex: 1;
    text-align: center;
  }

  .member-task {
    flex: 1;
    text-align: center;
  }

  .member-description {
    flex: 1;
    text-align: center;
  }

  .approve-buttons {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      width: auto;
      height: auto;
      border: none;
      background: transparent;
      cursor: pointer;

      >img {
        height: 14px;
      }
    }
  }
}

.gray-bc {
  background-color: var(--gray);
}

.green-bc {
  background: var(--green);
}

.red-bc {
  background: var(--red);
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .request-card {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 414px) {
  .request-card {
    flex-direction: column;
    justify-content: space-between;
    gap: 10%;
  }
}