.team-card {
  height: auto;

  margin: 20px 0;
  padding: 20px;

  display: flex;
  flex-direction: row;

  align-items: center;

  font-family: 'Georama', sans-serif;
  font-weight: medium;

  background: var(--gray);
  
  .team-name {
    flex: 1;
    text-align: left;
  }

  .team-grouppoints {
    flex: 1;
    text-align: center;
  }

  .team-points {
    flex: 1;
    text-align: center;
  }

  .team-totalpoints {
    flex: 1;
    text-align: center;
  }

  button {
    width: auto;
    height: auto;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-left: 10px;

    > img {
      height: 14px;
    }
  }
}

@media screen and (max-width: 600px) {
  .team-card {
    flex-direction: column;
  }
}