header {
  background: var(--blue);
  padding: 5px 15%;

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > a {

      > img {
        height: 40px;
      }

    }

  }

  .hamb-menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    div {
      content: "";
      width: 32px;
      height: 2px;
      background: var(--white);
      margin: 8px;
    }
  } 

  #header-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    color: var(--white);

    > li {

      > a {
        font-family: 'Geo', sans-serif;
        list-style: none;
        text-decoration: none;
        color: var(--white);
      }

    }
    
    .link-nav {

      & + .link-nav {
        border-left: 1px solid var(--gray);
        padding-left: 20px;
      }

    }

  }
}

@media screen and (max-width: 1200px) {
  

}

@media screen and (max-width: 992px) {
  

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 600px) {
  header {
    padding: 5px 5%;

    .hamb-menu {
      display: block;
    }

    #header-list .active {
      display: flex;
      background: var(--gray);
    }
  
    .header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      > a {
  
        > img {
          height: 40px;
        }
  
      }
  
    }
  
    // .header-list {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   list-style: none;
    //   text-decoration: none;
    //   gap: 3px;
    //   color: var(--white);
  
    //   > li {
  
    //     > a {
    //       text-align: center;
    //     }
  
    //   }
      
    //   .link-nav {
  
    //     & + .link-nav {
    //       border-left: 1px solid var(--gray);
    //       padding-left: 2px;
    //       margin-right: 2px;
    //     }
  
    //   }
  
    // }
  }
}

@media screen and (max-width: 414px) {
  
}
